<!DOCTYPE html>
<html>
<head>	
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

	
<body>
<!-- nav of page -->
<div id="nav"><div class="container">
	<nav>
		<ul>
			<li class="active"><a href="Main.html">Main</a></li>
			<li><a href="Register.html">Register</a></li>
			<li><a href="Login.html">Login</a></li>			
		</ul>
	</nav>
</div>
</div>
<!-- background -->
	<div id="background" class="imgw"><div class="container">
		<img src="image/bg.jpg" alt= "" width="100%">
	</div>

	</div>
<!-- logo -->
	<div id="logo"><div class="container">	
		<img src="image/logo.png">
	</div>

	</div>
	<br>
	<!-- words -->
	<div id="welcome"><div class="container">
		WELCOME TO USE MSH
	</div>
</div>
	<!-- footer -->
	<div id="'footer"><div class="container">
	    Copyright©2018 W4Z
    </div>
</div>
</body>
</html>
